nav {
  background-color: rgba(46,139,87, 0.95);
  height: 60px;
  color: black;
  position: fixed;
}

.textinho {
  font-size: 14px;
  text-align: center;
}

#navbar-brand {
  padding: 10px;
  font-size: 20px;
}

a {
  color: #202020;
}

a:hover {
  color: whitesmoke;
}

p{
font-size: 20px;
text-align: justify;
}

p.p2{
  font-size: 12px;
  text-align: justify;
  }

p.minus{
font-size: 16px;
text-align: justify;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 1000px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .1s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 0.9;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(55, 151, 97, 0.95);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(55, 151, 97, 0.95);
  cursor: pointer;
}

h1{
    font-size: 26px;
    border-bottom: 4px solid rgba(55, 151, 97, 0.95);
    color: #404040;
}

h1.h10{
  font-size: 26px;
  color: #404040;
  text-align: center;
  border-bottom: none;
}

h2{
  font-size: 26px;
  color: #404040;
  text-align: center;
}

h2.h10{
  color: #000000;
}

h2.h11{
  border-bottom: 4px solid rgba(55, 151, 97, 0.95);
}

.mg15{
  margin: 0% 3%;
}

.box{
  margin: 0% 25%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.box2{
  margin: 0% 10%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  top:10%;
  left: 20%;
}

.box3{
  width: 500px;
  margin: 0% 10%;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1001;
  background-color: #ffffff;
  top:10%;
  border-radius: 5px;
}

.box4{
  width: 500px;
  margin: 0% 10%;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1001;
  background-color: #ffffff;
  top:10%;
  border-radius: 5px;
}

.pd30{
  padding: 0% 30%;
}

.pd10{
  padding: 0% 10%;
}

.pd5px{
  padding: 8px 15px;
}

.nav-item{
  margin: 0 10px;
}

.centralizar{
  text-align: center;
}

.esquerda{
  text-align: left;
}

.direita{
  text-align: right;
}

input[type=text], [type=password] {
  border: 2px solid lightgrey;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: rgba(55, 151, 97, 0.95);
  border: none;
  color: white;
  padding: 5px 40px;
  text-decoration: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgba(51, 141, 90, 0.918)
}

.verdinho{
color: rgba(46,139,87, 0.95);
}

div.gallery {
margin: 5px;
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
float: left;
width: 370px;
}

div.gallery1 {
margin: 5px;
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
float: left;
}

div.reqs_content {
margin: 0px 10%;
float: left;
}

div.gallery:hover {
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding:15px;
text-align: center;
}

div.type {
padding: 0px 0px 10px 0px;
text-align: center;
}

div.author {
padding: 0px 0px 10px 0px;
text-align: center;
}

div.source {
padding: 0px 0px 10px 10px;
}

div.title {
padding: 7px;
text-align: center;
font-weight: bold;
border-bottom: 4px solid rgba(55, 151, 97, 0.95);
color: #404040;
}

div.title1 {
padding: 7px;
text-align: center;
font-weight: bold;
color: #404040;
}

label.radio {
margin-right: 20px;
font-size: 15px;
}

svg.margem {
margin: 80px;
}

input.altura_desc {
height: 120px;
}

.btnData1 {
height: 50px;
padding: 10px;

position: fixed;
top: 92%;
right: 0px;
z-index: 1001;
text-align: center;
vertical-align: middle;
justify-content: center;

border-radius: 8px 0px 0px 8px;
border: 0px;

color: #202020;
text-align: center;
background-color: rgba(46,139,87, 0.95);
}

.under {
border-bottom: 4px solid rgba(55, 151, 97, 0.95);
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 30%;
}

.list-group-item {
  float: left;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  position: relative;
  margin: 0.5% auto;
  max-width: 70%;
  max-height: 60%;
  overflow-wrap: break-word;
}

.img {
  object-fit: cover;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgba(46,139,87, 0.95);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 5px
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: #ffffff;
  border: 4px solid rgba(46,139,87, 0.95);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  right: 25%;
}

/* Place the container to the right */
.right {
  left: 25%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -13px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  border: 5px solid rgba(46,139,87, 0.95);
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

#idRegister{
  display: none;
}